@import url('https://fonts.googleapis.com/css?family=Quantico');

html,
body {
    height: 100%;
    font-family: Quantico;
}

body {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Prevent text selection */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; 
}

canvas {
    position: absolute;
    height: 100%;
    top: 0px;
    width: 100%;
    z-index: -1;
}

main {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;
    width: 600px;
}

img {
    width: 100%;
}

#logo {
    text-align: center;
    margin: 0 auto 30px;
}

#logo img,
h1 {
    display: block;
    margin: 0 auto;
    width: 200px;
}

h1 {
    border-bottom: 1px solid yellow;
    border-top: 1px solid yellow;
    color: yellow;
    margin-top: 5px;
}

#combat-area {
    display: flex;
    padding: 0px 10px;
    text-shadow: 2px 2px #111;
}

#hero,
#enemy {
    flex: 1;
}

#enemy h3{
    text-align: right;
}

#actions {
    display: flex;
    margin: 10px 0px;
}

.action, #messages {
    border: 1px solid  #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}


.action {
    box-sizing: border-box;
    cursor: pointer;
    font-size: 22px;
    line-height: 98px;
    text-align: center;
    width: 100px;
}

#messages {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    padding: 0px 10px;
}


#messages .big {
    font-size: 2em;
    text-align: center;
}

#messages .player {
    color: green;
}

#messages .enemy {
    color: red;
}

#characters {
    display: flex;
    justify-content: center;
}

#characters .character{
    cursor: pointer;
    padding: 5px;
    text-align: center;
}

#characters img {
    max-width: 80px;
    opacity: 0.8;
}

#characters img:hover {
    opacity: 1;
}

/* Utility classes */

.hidden {
    display: none;
}


/* Media queries */

@media only screen and (max-width: 600px) {
    main {
        width: 100%;
    }
}