@import url('https://fonts.googleapis.com/css?family=Quantico');

html,
body {
    height: 100%;
    font-family: Quantico;
}

body {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

canvas {
    position: absolute;
    height: 100%;
    top: 0px;
    width: 100%;
    z-index: -1;
}

main {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;
    width: 600px;
}

img {
    width: 100%;
}

#combat-area {
    display: flex;
}

#hero,
#enemy {
    flex: 1;
}

#enemy h3{
    text-align: right;
}

#actions {
    display: flex;
    margin: 10px 0px;
}

#attack {
    box-sizing: border-box;
    border: 1px solid white;
    cursor: pointer;
    font-size: 22px;
    line-height: 98px;
    margin-right: 10px;
    text-align: center;
    width: 100px;
}

#messages {
    border: 1px solid white;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    padding: 0px 10px;
}


#messages .big {
    font-size: 2em;
    text-align: center;
}

#messages .player {
    color: green;
}

#messages .enemy {
    color: red;
}

#characters {
    display: flex;
    justify-content: center;
}

#characters .character{
    cursor: pointer;
    padding: 5px;
    text-align: center;
}

#characters img {
    max-width: 80px;
    opacity: 0.8;
}

#characters img:hover {
    opacity: 1;
}

/* Utility classes */

.hidden {
    display: none;
}


/* Media queries */

@media only screen and (max-width: 600px) {
    main {
        width: 100%;
    }
}